/Library/*
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-11_1_0.bundle
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Uu]sersettings/
.vs/
.gradle/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.svd
*.pdb
*.mdb
*.opendb
*.ilk
*.aab
*.unitypackage
Logs/
